html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

#bodyWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-size: cover; }
  #bodyWrapper h1 {
    display: block; }

#formWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75%;
  width: 75%; }

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 80%;
  border: 5px double #796868; }
  form input {
    margin: 5px; }
  form input[type='file'] {
    display: block;
    position: relative;
    height: 30px;
    font-family: sans-serif;
    font-size: 1em;
    color: #684e4e; }
  form input[type='submit'] {
    display: block;
    position: relative;
    height: 20px;
    width: 100px; }
