html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

#bodyWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #020a1b;
  background: url("https://pixabay.com/get/eb36b40b2cfd033ecd1f4204e44a449fe46ae3d01ab8144193f6c479/matrix-2354492.jpg") no-repeat center center fixed;
  background-size: cover; }

#formWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75%;
  width: 75%; }

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(32, 36, 32, 0.911);
  height: 80%;
  width: 80%; }
  form input {
    margin: 5px; }
  form input[type='file'] {
    display: block;
    position: relative;
    background-color: purple; }
  form input[type='submit'] {
    display: block;
    position: relative; }
