<!doctype html>
<html>
    <head>
    <link rel='stylesheet' type='text/css' href='./styles/main.css'>
    <title></title>

    </head>    
    <body>
        <div id='bodyWrapper'>
            <div id='formWrapper'>
                <form method="post" enctype="multipart/form-data">
                    <input type="file" name="chooseFileButton" id="chooseFileButton">
                    <input type="submit" value="Upload" id="uploadButton">
                </form>
            </div>
        </div>
    </body>
</html>
